<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>


      <h1>Pokédex</h1>

      <div class="pokedex">
      <div class="kaderLinks linksOpen animation">
        <div class="dots">
        <span class="dotGroot"></span>
        <span class="dotRood"></span>
        <span class="dotGeel"></span>
        <span class="dotGroen"></span>
      </div>
        <div class="pokeAfb">
          <img src="../images/pokeball.png" alt="" />
        </div>
      <form class="" action="index.html" method="post">
        <input type="text" name="" id="zoeken" value="Enter Pokémon name or number">
        <div class="button">
          Search
        </div>
      </form>
      <div class="name">
        <p> Name </p>
        <p class="nameText"> </p>
      </div>
    </div>

<div class="kaderRechts kaderRechtsOpen">

    <div class="description">
      <p>Description</p>
      <p class="descriptionText"> </p>
    </div>
    <div class="height">
      <p>Height</p>
      <p class="heightText"></p>
    </div>
    <div class="weight">
      <p>Weight</p>
      <p class="weightText"></p>
    </div>
    <div class="types">
      <p>Types</p>
      <p class="typesText"></p>
    </div>

  </div>
</div>

</body>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app.js"></script>

</html>
