<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <div class="pokedex">

      <h1>Pokédex</h1>

      <form class="" action="index.html" method="post">
        <input type="text" name="" id="zoeken" value="Enter Pokémon name or number" class="pokename">
        <div class="btn">
          Search
        </div>
      </form>


    <div class="id">
      <p>Description</p>
      <p class="idText"> lorem</p>
    </div>
    
  </div>

</body>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="app1.js"></script>

</html>
